<style>
    .md-raised{
        width: 400px;
    }
    .md-w{
        width: 1450px;
    }
</style>

<div ng-controller="HomeController as home" layout="column" layout-align="center center" style="margin: 30px">
    <md-toolbar class="md-w" >
        <div class="md-toolbar-tools" layout-align="center center" >

            <h1 class="md-flex" >DataBase Management System</h1>
        </div>
    </md-toolbar>

    <md-button class="md-raised md-primary" ng-link="add">Add</md-button>
    <md-button class="md-raised md-warn" ng-link="view">View</md-button>
    
</div>

